# Ignore cache and temporary files
.cache/
.thumbnails/
*.log
*.tmp

# Ignore Matugen generated colors/themes
**/colors.css
**/colors.rasi
**/theme.toml
# starship prompt
**/starship.toml
# dunst notifications
**/dunstrc
# gtk
**/gtk.css
**/gtk-dark.css
# Ignore Kitty's active theme state
**/colors.conf
**/current-theme.conf
# Ignore active wallpaper symlink
**/current_wall
lazy-lock.json

# Ignore all of Calibre's junk
calibre/.config/calibre/**/*

# Allow ONLY these specific config files
!calibre/.config/calibre/gui.json
!calibre/.config/calibre/global.py
!calibre/.config/calibre/viewer.json
!calibre/.config/calibre/resources/
