# Ignore cache and temporary files
.cache/
.thumbnails/
*.log
*.tmp

# Ignore Matugen generated colors/themes
**/colors.css
**/colors.rasi
**/colors.conf
**/theme.toml
**/starship.toml
**/dunstrc
**/gtk.css
**/gtk-dark.css
